body{
    
    font-family: 'Lora', serif;
    padding: 40px;
}

h1{color: green;
    text-decoration: underline;
}

.header {
    padding: 25px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}

.table_title {
    color: green;
    text-decoration: underline;
   
}


#main_title{
    color:red;
}

#ingredients_list {
    color: green;
}

.contain_title {
    padding: 15px;
}

.single_recipe {
    padding: 25px;
    border: solid green 2px;
}

/*.pkmn{
    background-image: url("http://img05.deviantart.net/707c/i/2015/259/c/2/pizza_time_by_ry_spirit-d99sdx3.jpg");
    width: 800px;
    height: 300px;
   margin-right: 400px;
    position: relative;
    
}

